extends baseEmail

block content
  p Hi #{firstName},
    p Forget your password? enter #{otp} in the app to set your new Password.
    p this will expire in 10 minutes! 
    p If you didn't forget your password, please ignore this email!
